{% extends "learning_logs/base.html" %}

{% load bootstrap3 %}

{% block header %}
    <h2>Log in to your account</h2>
{% endblock header %}

{% block content %}

<div class="container">
    <form method="POST" action="{% url 'users:login' %}" class="form">
        {% csrf_token %}
        <!-- {% bootstrap_form form form_group_class="form-group form-horizontal" horizontal_label_class="col-sm-3" horizontal_field_class="form-group col-sm-7" %} -->
        {% bootstrap_form form %} 
        {% bootstrap_button "log in" button_type="submit" button_class="btn-primary" %}
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
</div>
{% endblock content %}